<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
        <string>ca-app-pub-3940256099942544/2934735716</string>
        <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
        <string>ca-app-pub-3940256099942544/4411468910</string>
        <key>CLIENT_ID</key>
        <string>96697666414-uahgojrt58q1mql7s9k6drsvouln5e07.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.96697666414-uahgojrt58q1mql7s9k6drsvouln5e07</string>
        <key>API_KEY</key>
        <string>AIzaSyB28dKTC74azS2SniLEuG_6jyYkCTC6hpc</string>
        <key>GCM_SENDER_ID</key>
        <string>96697666414</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>lifetugo.sv.Tugo</string>
        <key>PROJECT_ID</key>
        <string>tugo-1523468488794</string>
        <key>STORAGE_BUCKET</key>
        <string>tugo-1523468488794.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <true></true>
        <key>IS_ANALYTICS_ENABLED</key>
        <false></false>
        <key>IS_APPINVITE_ENABLED</key>
        <false></false>
        <key>IS_GCM_ENABLED</key>
        <true></true>
        <key>IS_SIGNIN_ENABLED</key>
        <true></true>
        <key>GOOGLE_APP_ID</key>
        <string>1:96697666414:ios:0f737d0c4f9d8b20</string>
        <key>DATABASE_URL</key>
        <string>https://tugo-1523468488794.firebaseio.com</string>
    </dict>
</plist>
